/* _box-group.scss */
@import 'config';

.box-group {
  width: calc(100% + #{$box-group-gutter});
  box-sizing: border-box;
  margin-left: -($box-group-gutter);
	display: flex;
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
	display: flex;
  flex-direction: column;

  &-content,
  &-header,
  &-footer {
    display: block;
  }

  &-content {
    flex: 1 1 auto;
  }

  &-header,
  &-footer {
    flex: 0 0 auto;
  }
}

@mixin box($num-up, $gutter-override: $box-group-gutter) {
  width: 100%/$num-up;

  &:nth-child(n) {
    padding: $box-group-gutter 0 0 $gutter-override;
  }

  &:nth-child(-n+#{$num-up}) {
    padding-top: 0;
  }
}

.box-group-4-up {
  .box {
    @include box(4);

    @media screen and (#{$medium-breakpoint}) {
      @include box(2);
    }

    @media screen and (#{$small-breakpoint}) {
      @include box(1, 0px);
    }
  }

  @media screen and (#{$small-breakpoint}) {
    width: 100%;
    margin: 0;
  }
}

.box-group-3-up {
  .box {
    @include box(3);

    @media screen and (#{$small-breakpoint}) {
      @include box(1, 0px);
    }
  }

  @media screen and (#{$small-breakpoint}) {
    width: 100%;
    margin: 0;
  }
}

.box-group-2-up {
  .box {
    @include box(2);

    @media screen and (#{$small-breakpoint}) {
      @include box(1, 0px);
    }
  }

  @media screen and (#{$small-breakpoint}) {
    width: 100%;
    margin: 0;
  }
}

.box-group-1-up {
  width: 100%;
  margin: 0;

  .box {
    @include box(1, 0px);
  }
}

.box {
  &-light, &-dark, &-blue {
    .box-content,
    .box-header,
    .box-footer {
      border-style: solid;
      border-left-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 0px;
      border-top-width: 0px;
      padding-left: $box-group-gutter;
      padding-right: $box-group-gutter;
    }
    .box-header {
      border-bottom-width: 0px;
      border-top-width: 1px;
      padding-top: $box-group-gutter;
    }
    .box-footer {
      border-top-width: 0px;
      border-bottom-width: 1px;
      padding-bottom: $box-group-gutter;
    }
  }

  .box-no-footer {
    .box-content {
      border-bottom: 1px solid;
      padding-bottom: $box-group-gutter;
    }
  }

  &-light {
    .box-content,
    .box-header,
    .box-footer {
      border-color: $light-theme-border;
      background-color: $light-theme-background;
      color: $light-theme-text;
    }
  }

  &-dark {
    .box-content,
    .box-header,
    .box-footer {
      border-color: $dark-theme-border;
      background-color: $dark-theme-background;
      color: $dark-theme-text;
    }
  }
}

.box-no-footer {
  .box-content {
    border-bottom-width: 1px;
    padding-bottom: $box-group-gutter;
  }
}

.box-no-header {
  .box-content {
    border-top-width: 1px;
    padding-top: $box-group-gutter;
  }
}

.box-link {
  background: $light-theme-background;
  border: 1px solid $light-theme-border;
  color: $light-theme-text;
  transition: all 150ms linear;
  padding-left: $box-group-gutter;
  padding-right: $box-group-gutter;
  text-decoration: none;

  h1, h2, h3, h4, h5, h6 {
    color: $link-color;
    text-decoration: underline;
  }

  &:hover {
    background: $link-color;
    border: 1px solid $link-color;
    color: $dark-theme-text;
    text-decoration: none;
    h1, h2, h3, h4, h5, h6, p {
      color: $dark-theme-text;
    }
  }
}

.box-center {
  .box-content,
  .box-header,
  .box-footer {
    text-align: center;
  }
}

html.ie9, html.lt-ie9 {
  .box {
    @include box(1, 0px);
  }
}